<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>BlueButton.js</title>
    <meta name="description" content="BlueButton.js">
    <link href="/style.css" rel="stylesheet">
    <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet'> -->
    <link rel="stylesheet" href="http://yandex.st/highlightjs/7.3/styles/tomorrow.min.css">
  </head>
  <body class="docs">
    
    <%= erb :'layouts/_header' %>
    
    <div class="content-area">
      <div class="sidebar">
        <ul>
          <%= sidebar_link "Getting Started", "/docs/getting_started" %>
          <%= sidebar_link "Demographics", "/docs/demographics" %>
          <%= sidebar_link "Allergies", "/docs/allergies" %>
          <%= sidebar_link "Encounters", "/docs/encounters" %>
          <%= sidebar_link "Immunizations", "/docs/immunizations" %>
          <%= sidebar_link "Labs", "/docs/labs" %>
          <%= sidebar_link "Medications", "/docs/medications" %>
          <%= sidebar_link "Plan", "/docs/plan" %>
          <%= sidebar_link "Problems", "/docs/problems" %>
          <%= sidebar_link "Procedures", "/docs/procedures" %>
          <%= sidebar_link "Vitals", "/docs/vitals" %>
        </ul>
      </div>
      
      <div class="page">
        <%= yield %>
      </div>
    </div>
    
    <%= erb :'layouts/_footer' %>
    
    <script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>
