<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="CDA.xsl"?>
<!--

    Title: US_Realm_Header_Template
    Original Filename: US_Realm_Header_Template.xml
    Version: 1.0

    Generated via BlueButton.js

-->
<ClinicalDocument xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="urn:hl7-org:v3 ../../../CDA%20R2/cda-schemas-and-samples/infrastructure/cda/CDA.xsd"
 xmlns="urn:hl7-org:v3"
 xmlns:cda="urn:hl7-org:v3"
 xmlns:sdtc="urn:hl7-org:sdtc">

<!--
********************************************************

  CDA Header

********************************************************
-->

    <realmCode code="US"/>
    <typeId root="2.16.840.1.113883.1.3" extension="POCD_HD000040"/>
    <!-- US General Header Template -->
    <templateId root="2.16.840.1.113883.10.20.22.1.1"/>
    <!-- *** Note:  The next templateId, code and title will differ depending on what type of document is being sent. *** -->
    <!-- conforms to the document specific requirements  -->
    <templateId root="2.16.840.1.113883.10.20.22.1.2"/>
    <id extension="999021" root="2.16.840.1.113883.19"/>
    <code codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" code="34133-9" displayName="Summarization of Episode Note"/>
    <title>
        <% if ("demographics" in bb) { %>
            <% if (bb.demographics.name.family) {%>
                <%= bb.demographics.name.family %> Health Summary
            <%} %>
        <%} else { %>
            Patient Health Summary
        <%} %>
    </title>
    <effectiveTime value="<%=: now | hl7Date %>"/>
    <confidentialityCode code="N" displayName="Normal" codeSystem="2.16.840.1.113883.5.25"/>
    <languageCode code="en-US"/>
    <setId extension="111199021" root="2.16.840.1.113883.19"/>
    <versionNumber value="1"/>
    <recordTarget>
        <% if ("demographics" in bb) { %>

            <patientRole>
                <id extension="12345" root="2.16.840.1.113883.19"/>
                <!-- Fake ID using HL7 example OID. -->
                <id extension="111-00-1234" root="2.16.840.1.113883.4.1"/>
                <!-- Fake Social Security Number using the actual SSN OID. -->
                <addr use="HP">
                    <!-- HP is "primary home" from codeSystem 2.16.840.1.113883.5.1119 -->
                    <streetAddressLine><%= bb.demographics.address.street %></streetAddressLine>
                    <city><%= bb.demographics.address.city %></city>
                    <state><%= bb.demographics.address.state %></state>
                    <postalCode><%= bb.demographics.address.zip %></postalCode>
                    <%-: tagHelpers.simpleTag('country', bb.demographics.address.country) %>
                    <!-- US is "United States" from ISO 3166-1 Country Codes: 1.0.3166.1 -->
                </addr>
                <telecom value="tel:(781)555-1212" use="HP"/>
                <!-- HP is "primary home" from HL7 AddressUse 2.16.840.1.113883.5.1119 -->
                <patient>
                    <name use="L">
                        <!-- L is "Legal" from HL7 EntityNameUse 2.16.840.1.113883.5.45 -->
                        <%-: tagHelpers.simpleTag('prefix', bb.demographics.name.prefix) %>
                        <% for (i in bb.demographics.name.given) { %>
                        <given><%= bb.demographics.name.given[i] %></given>
                        <% } %>
                        <family><%= bb.demographics.name.family %></family>
                    </name>
                    <administrativeGenderCode code="<%=: codes.reverseGender(bb.demographics.gender) %>" codeSystem="2.16.840.1.113883.5.1" displayName="<%= bb.demographics.gender %>"/>
                    <birthTime value="<%=: bb.demographics.dob | hl7Date %>"/>
                    <% if (bb.demographics.marital_status) { %>
                        <maritalStatusCode code="<%=: codes.reverseMaritalStatus(bb.demographics.marital_status) %>" displayName="<%= bb.demographics.marital_status %>" codeSystem="2.16.840.1.113883.5.2" codeSystemName="MaritalStatusCode"/>
                    <%} %>
                    <% if (bb.demographics.religion) { %>
                        <religiousAffiliationCode code="<%=: codes.reverseReligion(bb.demographics.religion) %>" displayName="<%= bb.demographics.religion %>" codeSystemName="HL7 Religious Affiliation " codeSystem="2.16.840.1.113883.5.1076"/>
                    <%} %>
                    <% if (bb.demographics.race) { %>
                        <raceCode code="<%=: codes.reverseRaceEthnicity(bb.demographics.race) %>" displayName="<%= bb.demographics.race %>" codeSystem="2.16.840.1.113883.6.238" codeSystemName="Race &amp; Ethnicity - CDC"/>
                    <%} %>
                    <% if (bb.demographics.ethnicity) { %>
                        <ethnicGroupCode code="<%=: codes.reverseRaceEthnicity(bb.demographics.ethnicity) %>" displayName="<%= bb.demographics.ethnicity %>" codeSystem="2.16.840.1.113883.6.238" codeSystemName="Race &amp; Ethnicity - CDC"/>
                    <%} %>
                    <% if (codes.reverseRole(bb.demographics.guardian.relationship) && bb.demographics.guardian.name.family) { %>
                        <guardian>
                            <code code="<%=: codes.reverseRole(bb.demographics.guardian.relationship) %>" displayName="<%= bb.demographics.guardian.relationship %>" codeSystem="2.16.840.1.113883.5.111" codeSystemName="HL7 Role code"/>
                            <addr use="HP">
                                <!-- HP is "primary home" from codeSystem 2.16.840.1.113883.5.1119 -->
                                <streetAddressLine><%= bb.demographics.guardian.address.street %></streetAddressLine>
                                <city><%= bb.demographics.guardian.address.city %></city>
                                <state><%= bb.demographics.guardian.address.state %></state>
                                <postalCode><%= bb.demographics.guardian.address.zip %></postalCode>
                                <%-: tagHelpers.simpleTag('country', bb.demographics.guardian.address.country) %>
                                <!-- US is "United States" from ISO 3166-1 Country Codes: 1.0.3166.1 -->
                            </addr>
                            <telecom value="<%= bb.demographics.guardian.phone.home %>" use="HP"/>
                            <guardianPerson>
                                <name>
                                    <% for (i in bb.demographics.guardian.name.given) { %>
                                    <given><%= bb.demographics.guardian.name.given[i] %></given>
                                    <% } %>
                                    <family><%= bb.demographics.guardian.name.family %></family>
                                </name>
                            </guardianPerson>
                        </guardian>
                    <%} %>
                    <% if (bb.demographics.birthplace.state || bb.demographics.birthplace.zip) { %>
                        <birthplace>
                            <place>
                                <addr>
                                    <state><%= bb.demographics.birthplace.state %></state>
                                    <postalCode><%= bb.demographics.birthplace.zip %></postalCode>
                                    <%-: tagHelpers.simpleTag('country', bb.demographics.birthplace.country) %>
                                    <%-: tagHelpers.simpleTag('country', bb.demographics.birthplace.country) %>
                                </addr>
                            </place>
                        </birthplace>
                    <%} %>
                    <languageCommunication>
                        <languageCode code="<%= bb.demographics.language %>"/>
                        <modeCode code="RWR" displayName="Recieve Written" codeSystem="2.16.840.1.113883.5.60" codeSystemName="LanguageAbilityMode"/>
                        <preferenceInd value="true"/>
                    </languageCommunication>
                </patient>
                <providerOrganization>
                    <id root="2.16.840.1.113883.19"/>
                    <name><%= bb.demographics.provider.organization %></name>
                    <telecom use="WP" value="<%= bb.demographics.provider.phone %>"/>
                    <addr>
                        <streetAddressLine><%= bb.demographics.provider.address.street %></streetAddressLine>
                        <city><%= bb.demographics.provider.address.city %></city>
                        <state><%= bb.demographics.provider.address.state %></state>
                        <postalCode><%= bb.demographics.provider.address.zip %></postalCode>
                        <%-: tagHelpers.simpleTag('country', bb.demographics.provider.address.country) %>
                    </addr>
                </providerOrganization>
            </patientRole>

        <%} %>

    </recordTarget>
    
    <% if ("document" in bb) { %>
        <author>
            <time value="<%=: now | hl7Date %>"/>
            <assignedAuthor>
                <!-- TODO support real NPI -->
                <id extension="99999999" root="2.16.840.1.113883.4.6"/>
                <addr>
                    <% for (var i=0; i<bb.document.author.address.street.length; i++) { %>
                        <streetAddressLine><%= bb.document.author.address.street[i] %></streetAddressLine>
                    <%} %>
                    <city><%= bb.document.author.address.city %></city>
                    <state><%= bb.document.author.address.state %></state>
                    <postalCode><%= bb.document.author.address.zip %></postalCode>
                    <%-: tagHelpers.simpleTag('country', bb.document.author.address.country) %>
                </addr>
                <telecom use="WP" value="<%= bb.document.author.phone.work %>"/>
                <assignedPerson>
                    <name>
                        <% for (var i=0; i<bb.document.author.name.given.length; i++) { %>
                            <given><%= bb.document.author.name.given[i] %></given>
                        <%} %>
                        <family><%= bb.document.author.name.family %></family>
                    </name>
                </assignedPerson>
            </assignedAuthor>
        </author>
        <custodian>
            <assignedCustodian>
                <representedCustodianOrganization>
                    <id extension="99999999" root="2.16.840.1.113883.4.6"/>
                    <name><%= bb.document.author.name.family %></name>
                    <telecom use="WP" value="<%= bb.document.author.phone.work %>"/>
                    <addr>
                        <% for (var i=0; i<bb.document.author.address.street.length; i++) { %>
                            <streetAddressLine><%= bb.document.author.address.street[i] %></streetAddressLine>
                        <%} %>
                        <city><%= bb.document.author.address.city %></city>
                        <state><%= bb.document.author.address.state %></state>
                        <postalCode><%= bb.document.author.address.zip %></postalCode>
                        <%-: tagHelpers.simpleTag('country', bb.document.author.address.country) %>
                    </addr>
                </representedCustodianOrganization>
            </assignedCustodian>
        </custodian>
        <documentationOf>
            <serviceEvent classCode="PCPR">
                <effectiveTime>
                    <low value="<%=: now | hl7Date %>" />
                    <high nullFlavor="UNK" />
                </effectiveTime>
                <performer typeCode="PRF">
                    <functionCode code="PCP" displayName="Primary Care Physician"
                        codeSystem="2.16.840.1.113883.5.88" codeSystemName="participationFunction">
                        <originalText>Primary Care Provider</originalText>
                    </functionCode>
                    <assignedEntity>
                        <id extension="99999999" root="2.16.840.1.113883.4.6"/>
                        <code code="261QP2300X" displayName="Primary Care [Ambulatory Health Care Facilities\Clinic/Center]"
                            codeSystemName="NUCC Provider Codes" codeSystem="2.16.840.1.113883.6.101"/>
                        <addr>
                            <% for (var i=0; i<bb.document.author.address.street.length; i++) { %>
                                <streetAddressLine><%= bb.document.author.address.street[i] %></streetAddressLine>
                            <%} %>
                            <city><%= bb.document.author.address.city %></city>
                            <state><%= bb.document.author.address.state %></state>
                            <postalCode><%= bb.document.author.address.zip %></postalCode>
                            <%-: tagHelpers.simpleTag('country', bb.document.author.address.country) %>
                        </addr>
                        <telecom use="WP" value="<%= bb.document.author.phone.work %>"/>
                        <assignedPerson>
                            <name>
                                <% for (var i=0; i<bb.document.author.name.given.length; i++) { %>
                                    <given><%= bb.document.author.name.given[i] %></given>
                                <%} %>
                                <family><%= bb.document.author.name.family %></family>
                            </name>
                        </assignedPerson>
                    </assignedEntity>
                </performer>
            </serviceEvent>
        </documentationOf>
    <%} %>

    <!-- ********************************************************

     CDA Body

     ******************************************************** -->
    <component>
        <structuredBody>
            <!-- *********************** -->

            <% if ("allergies" in bb && bb.allergies.length) { %>

                <!--
                ********************************************************

                Allergies, Adverse Reactions, Alerts

                ********************************************************
                -->
                    <component>
                        <section>
                            <templateId root="2.16.840.1.113883.10.20.22.2.6.1"/>
                            <!-- Alerts section template -->
                            <code code="48765-2" codeSystem="2.16.840.1.113883.6.1"/>
                            <title>Allergies, Adverse Reactions, Alerts</title>
                            <text>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Substance</th>
                                            <th>Code</th>
                                            <th>Reaction</th>
                                            <th>Severity</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for (var i=0; i<bb.allergies.length; i++) { %>
                                            <tr>
                                                <td><%=: bb.allergies[i].allergen.name | emptyStringIfFalsy %></td>
                                                <td><%=: bb.allergies[i].allergen.code | emptyStringIfFalsy %></td>
                                                <td><%=: bb.allergies[i].reaction_type.name | emptyStringIfFalsy %></td>
                                                <td><%=: bb.allergies[i].severity | emptyStringIfFalsy %></td>
                                                <td><%=: bb.allergies[i].status %></td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </text>

                            <% for (var i=0; i<bb.allergies.length; i++) { %>

                            <entry typeCode="DRIV">
                                <act classCode="ACT" moodCode="EVN">
                                    <templateId root="2.16.840.1.113883.10.20.22.4.30"/>
                                    <!-- ** Allergy problem act ** -->
                                    <id root="36e3e930-7b14-11db-9fe1-0800200c9a66"/>
                                    <code code="48765-2" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="Allergies, adverse reactions, alerts"/>
                                    <statusCode code="active"/>
                                    <effectiveTime value="<%=: bb.allergies[i].date_range.start | hl7Date %>" >
                                        <low value="<%=: bb.allergies[i].date_range.start | hl7Date %>"/>
                                        <high value="<%=: bb.allergies[i].date_range.end | hl7Date %>"/>
                                    </effectiveTime>
                                    <entryRelationship typeCode="SUBJ">
                                        <observation classCode="OBS" moodCode="EVN">
                                            <!-- allergy observation template -->
                                            <templateId root="2.16.840.1.113883.10.20.22.4.7"/>
                                            <id root="4adc1020-7b14-11db-9fe1-0800200c9a66"/>
                                            <code code="ASSERTION" codeSystem="2.16.840.1.113883.5.4" />
                                            <statusCode code="completed"/>
                                            <effectiveTime>
                                                <low value="<%=: bb.allergies[i].date_range.start | hl7Date %>"/>
                                            </effectiveTime>
                                            <value xsi:type="CD" <%-: bb.allergies[i].reaction_type | hl7Code %> >
                                            </value>
                                            <participant typeCode="CSM">
                                                <participantRole classCode="MANU">
                                                    <playingEntity classCode="MMAT">
                                                        <code <%-: bb.allergies[i].allergen | hl7Code %> >
                                                        </code>
                                                    </playingEntity>
                                                </participantRole>
                                            </participant>
                                            <entryRelationship typeCode="SUBJ" inversionInd="true">
                                                <observation classCode="OBS" moodCode="EVN">
                                                    <templateId root="2.16.840.1.113883.10.20.22.4.28"/>
                                                    <!-- Alert status observation template -->
                                                    <code code="33999-4" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="Status"/>
                                                    <statusCode code="completed"/>
                                                    <value xsi:type="CE" code="55561003" codeSystem="2.16.840.1.113883.6.96" displayName="<%= bb.allergies[i].status %>"/>
                                                </observation>
                                            </entryRelationship>
                                            <entryRelationship typeCode="MFST" inversionInd="true">
                                                <observation classCode="OBS" moodCode="EVN">
                                                    <templateId root="2.16.840.1.113883.10.20.22.4.9"/>
                                                    <!-- Reaction observation template -->
                                                    <id root="4adc1020-7b14-11db-9fe1-0800200c9a64"/>
                                                    <code nullFlavor="NA"/>
                                                    <statusCode code="completed"/>
                                                    <effectiveTime>
                                                        <low value="<%=: bb.allergies[i].date_range.start | hl7Date %>"/>
                                                    </effectiveTime>
                                                    <value xsi:type="CD" <%-: bb.allergies[i].reaction | hl7Code %> />
                                                </observation>
                                            </entryRelationship>
                                            <% if (bb.allergies[i].severity) {%>
                                                <entryRelationship typeCode="SUBJ" inversionInd="true">
                                                    <observation classCode="OBS" moodCode="EVN">
                                                        <templateId root="2.16.840.1.113883.10.20.22.4.8"/>
                                                        <!-- ** Severity observation template ** -->
                                                        <code code="SEV" displayName="Severity Observation" codeSystem="2.16.840.1.113883.5.4" codeSystemName="ActCode"/>
                                                        <statusCode code="completed"/>
                                                        <value xsi:type="CD" displayName="<%= bb.allergies[i].severity %>" nullFlavor="UNK" />
                                                    </observation>
                                                </entryRelationship>
                                            <%} %>
                                        </observation>
                                    </entryRelationship>
                                </act>
                            </entry>

                            <% } %>

                        </section>
                    </component>

            <%} %>

            <!--
            ********************************************************

            PLAN OF CARE

            ********************************************************
            -->
            <component>
                <section>
                    <templateId root = "2.16.840.1.113883.10.20.22.2.10"/>
                    <code code = "18776-5" codeSystem = "2.16.840.1.113883.6.1" codeSystemName = "LOINC" displayName = "Treatment plan"/>
                    <title>PLAN OF CARE</title>
                    <text></text>
                </section>
            </component>

            <!--
            ********************************************************

            INSTRUCTIONS

            ********************************************************
            -->
            <component>
                <section>
                    <templateId root = "2.16.840.1.113883.10.20.22.2.45"/>
                    <code code = "69730-0" codeSystem = "2.16.840.1.113883.6.1" codeSystemName = "LOINC" displayName = "INSTRUCTIONS"/>
                    <title>INSTRUCTIONS</title>
                    <text></text>
                </section>
            </component>


            <% if (("medications" in bb && bb.medications.length)) { %>

                <!--
                ********************************************************

                MEDICATIONS

                ********************************************************
                -->
                    <component>
                        <section>
                            <templateId root="2.16.840.1.113883.10.20.22.2.1.1"/>
                            <code code="10160-0" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="HISTORY OF MEDICATION USE"/>
                            <title>Medications</title>
                            <text>
                                <table>
                                    <thead>
                                        <tr>
                                           <th>Medication</th>
                                           <th>Start Date</th>
                                           <th>End Date</th>
                                           <th>Reason</th>
                                           <th>Prescriber</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for (var i=0; i<bb.medications.length; i++) { %>
                                            <tr>
                                                <td><%=: bb.medications[i].product.name | emptyStringIfFalsy %></td>
                                                <td><%=: bb.medications[i].date_range.start | emptyStringIfFalsy %></td>
                                                <td><%=: bb.medications[i].date_range.end | emptyStringIfFalsy %></td>
                                                <td><%=: bb.medications[i].reason.name | emptyStringIfFalsy %></td>
                                                <td><%=: bb.medications[i].prescriber.person ? bb.medications[i].prescriber.person.name : '' %></td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </text>

                            <% for (var i=0; i<bb.medications.length; i++) { %>

                            <entry typeCode="DRIV">
                                <substanceAdministration classCode="SBADM" moodCode="EVN">
                                    <templateId root="2.16.840.1.113883.10.20.22.4.16"/>
                                    <!-- ** MEDICATION ACTIVITY -->
                                    <id root="cdbd33f0-6cde-11db-9fe1-0800200c9a66"/>
                                    <text>
                                    </text>
                                    <statusCode code="completed"/>
                                    <effectiveTime xsi:type="IVL_TS">
                                        <low value="<%=: bb.medications[i].date_range.start | hl7Date %>"/>
                                        <high value="<%=: bb.medications[i].date_range.end | hl7Date %>"/>
                                    </effectiveTime>
                                    <routeCode <%-: bb.medications[i].route | hl7Code %> />
                                    <% if (bb.medications[i].dose_quantity.value) { %>
                                        <doseQuantity value="<%= bb.medications[i].dose_quantity.value %>" unit="<%= bb.medications[i].dose_quantity.unit %>"/>
                                    <%} %>
                                    <% if (bb.medications[i].rate_quantity.value) { %>
                                        <rateQuantity value="<%= bb.medications[i].rate_quantity.value %>" unit="<%= bb.medications[i].rate_quantity.unit %>"/>
                                    <%} %>
                                    <maxDoseQuantity nullFlavor="UNK">
                                        <numerator nullFlavor="UNK"/>
                                        <denominator nullFlavor="UNK"/>
                                    </maxDoseQuantity>
                                    <administrationUnitCode <%-: bb.medications[i].administration | hl7Code %> />
                                    <consumable>
                                        <manufacturedProduct classCode="MANU">
                                            <templateId root="2.16.840.1.113883.10.20.22.4.23"/>
                                            <id nullFlavor="UNK" />
                                            <manufacturedMaterial>
                                                <code <%-: bb.medications[i].product | hl7Code %> >
                                                    <translation <%-: bb.medications[i].product.translation | hl7Code %>/>
                                                </code>
                                            </manufacturedMaterial>
                                            <manufacturerOrganization/>
                                        </manufacturedProduct>
                                    </consumable>
                                    <entryRelationship typeCode="RSON">
                                        <observation classCode="OBS" moodCode="EVN">
                                            <templateId root="2.16.840.1.113883.10.20.22.4.19"/>
                                            <id root="db734647-fc99-424c-a864-7e3cda82e703" extension="45665"/>
                                            <code code="404684003" displayName="Finding" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMED CT"/>
                                            <statusCode code="completed"/>
                                            <value xsi:type="CE" <%-: bb.medications[i].reason | hl7Code %>/>
                                        </observation>
                                    </entryRelationship>
                                    <precondition typeCode="PRCN">
                                        <templateId root="2.16.840.1.113883.10.20.22.4.25"/>
                                        <criterion>
                                            <code code="ASSERTION" codeSystem="2.16.840.1.113883.5.4"/>
                                            <value xsi:type="CE" <%-: bb.medications[i].precondition | hl7Code %>/>
                                        </criterion>
                                    </precondition>
                                </substanceAdministration>
                            </entry>

                            <% } %>


                        </section>
                    </component>

            <% } %>
            

            <% if (("problems" in bb && bb.problems.length)) { %>

                <!--
                ********************************************************

                PROBLEM LIST

                ********************************************************
                -->
                    <component>
                        <section>
                            <templateId root="2.16.840.1.113883.10.20.22.2.5.1"/>
                            <code code="11450-4" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="PROBLEM LIST"/>
                            <title>Problems</title>
                            <text>
                                <table>
                                    <thead>
                                        <tr>
                                           <th>Problem</th>
                                           <th>Code</th>
                                           <th>Code System</th>
                                           <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for (var i=0; i<bb.problems.length; i++) { %>
                                            <tr>
                                                <td><%=: bb.problems[i].name | emptyStringIfFalsy %></td>
                                                <td><%=: bb.problems[i].code | emptyStringIfFalsy %></td>
                                                <td><%=: bb.problems[i].code_system_name | emptyStringIfFalsy %></td>
                                                <td><%=: bb.problems[i].status | emptyStringIfFalsy %></td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </text>

                            <% for (var i=0; i<bb.problems.length; i++) { %>

                            <entry typeCode="DRIV">
                                <act classCode="ACT" moodCode="EVN">
                                    <!-- Problem act template -->
                                    <templateId root="2.16.840.1.113883.10.20.22.4.3"/>
                                    <id root="ec8a6ff8-ed4b-4f7e-82c3-e98e58b45de7"/>
                                    <code nullFlavor="NA"/>
                                    <statusCode code="completed"/>
                                    <effectiveTime>
                                        <low value="<%=: bb.problems[i].date_range.start | hl7Date %>"/>
                                        <high value="<%=: bb.problems[i].date_range.end | hl7Date %>"/>
                                    </effectiveTime>
                                    <entryRelationship typeCode="SUBJ">
                                        <observation classCode="OBS" moodCode="EVN">
                                            <!-- Problem observation template -->
                                            <templateId root="2.16.840.1.113883.10.20.22.4.4"/>
                                            <id root="ab1791b0-5c71-11db-b0de-0800200c9a66"/>
                                            <code code="409586006" codeSystem="2.16.840.1.113883.6.96" displayName="Complaint"/>
                                            <statusCode code="completed"/>
                                            <effectiveTime>
                                                <low value="<%=: bb.problems[i].date_range.start | hl7Date %>"/>
                                            </effectiveTime>
                                            <value xsi:type="CD" <%-: bb.problems[i] | hl7Code %> />
                                            <entryRelationship typeCode="REFR">
                                                <observation classCode="OBS" moodCode="EVN">
                                                    <!-- Problem status observation template -->
                                                    <templateId root="2.16.840.1.113883.10.20.22.4.6"/>
                                                    <code code="33999-4" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="Status"/>
                                                    <statusCode code="completed"/>
                                                    <value xsi:type="CD" code="55561003" codeSystem="2.16.840.1.113883.6.96" displayName="<%= bb.problems[i].status %>" codeSystemName="SNOMED CT"/>
                                                </observation>
                                            </entryRelationship>
                                        </observation>
                                    </entryRelationship>
                                </act>
                            </entry>

                            <% } %>

                        </section>
                    </component>

            <% } %>
            

            <% if ("procedures" in bb && bb.procedures.length) { %>

                <!--
                ********************************************************

                PROCEDURES

                ********************************************************
                -->
                    <component>
                        <section>
                            <templateId root="2.16.840.1.113883.10.20.22.2.7.1"/>
                            <!-- Procedures section template -->
                            <code code="47519-4" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="PROCEDURES"/>
                            <title>Procedures</title>
                            <text>
                                <table>
                                    <thead>
                                        <tr>
                                           <th>Procedure</th>
                                           <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for (var i=0; i<bb.procedures.length; i++) { %>
                                            <tr>
                                                <td><%=: bb.procedures[i].name | emptyStringIfFalsy %></td>
                                                <td><%=: bb.procedures[i].date | emptyStringIfFalsy %></td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </text>

                            <% for (var i=0; i<bb.procedures.length; i++) { %>

                            <entry>
                                <observation classCode="OBS" moodCode="EVN">
                                    <templateId root="2.16.840.1.113883.10.20.22.4.13"/>
                                    <!-- ***** Procedure  Activity Procedure Template ***** -->
                                    <id root="d68b7e32-7810-4f5b-9cc2-acd54b0fd85d"/>
                                    <code <%-: bb.procedures[i] | hl7Code %> />
                                    <statusCode code="completed"/>
                                    <effectiveTime value="<%=: bb.procedures[i].date | hl7Date %>"/>
                                    <value xsi:type = "CD"/>
                                    <methodCode nullFlavor="UNK"/>
                                </observation>
                            </entry>

                            <% } %>

                        </section>
                    </component>

            <% } %>
            

            <% if (("labs" in bb && bb.labs.length)) { %>

                <!--
                ********************************************************

                RESULTS

                ********************************************************
                -->
                    <component>
                        <section>
                            <templateId root="2.16.840.1.113883.10.20.22.2.3.1"/>
                            <code code="30954-2" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="RESULTS"/>
                            <title>Results</title>
                            <text>

                            </text>

                            <% for (var i=0; i<bb.labs.length; i++) { %>


                            <entry typeCode="DRIV">
                                <organizer classCode="BATTERY" moodCode="EVN">
                                    <!-- Result organizer template -->
                                    <templateId root="2.16.840.1.113883.10.20.22.4.1"/>
                                    <id root="7d5a02b0-67a4-11db-bd13-0800200c9a66"/>
                                    <code code="<%=bb.labs[i].code %>" displayName="<%=bb.labs[i].name %>" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMED CT"/>
                                    <statusCode code="completed"/>

                                    <% for (var j=0; j<bb.labs[i].results.length; j++) { %>


                                    <component>
                                        <observation classCode="OBS" moodCode="EVN">
                                            <!-- Result observation template -->
                                            <templateId root="2.16.840.1.113883.10.20.22.4.2"/>
                                            <id root="107c2dc0-67a5-11db-bd13-0800200c9a66"/>
                                            <code <%-: bb.labs[i].results[j] | hl7Code %> >
                                            </code>
                                            <statusCode code="completed"/>
                                            <effectiveTime value="<%=: bb.labs[i].results[j].date | hl7Date %>"/>
                                            <% if (bb.labs[i].results[j].value) { %>
                                                <value xsi:type="PQ" value="<%=bb.labs[i].results[j].value%>" unit="<%=bb.labs[i].results[j].unit%>"/>
                                            <%} else { %>
                                                <value xsi:type="PQ" nullFlavor="UNK" />
                                            <%} %>
                                            <interpretationCode code="N" codeSystem="2.16.840.1.113883.5.83"/>
                                            <methodCode/>
                                            <targetSiteCode/>
                                            <referenceRange>
                                                <observationRange>
                                                    <text></text>
                                                </observationRange>
                                            </referenceRange>
                                        </observation>
                                    </component>


                                    <% } %>

                                </organizer>
                            </entry>

                            <% } %>

                        </section>
                    </component>

            <% } %>

            
            <% if ("encounters" in bb) { %>

                <!--
                ********************************************************

                ENCOUNTERS

                ********************************************************
                -->
                    <component>
                        <section>
                            <templateId root="2.16.840.1.113883.10.20.22.2.22"/>
                            <!-- Encounters Section - optional entries -->
                            <code code="46240-8" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="History of encounters"/>
                            <title>Encounters</title>
                            <text>

                            </text>

                            <% for (var i=0; i<bb.encounters.length; i++) { %>

                            <entry typeCode="DRIV">
                                <encounter classCode="ENC" moodCode="EVN">
                                    <templateId root="2.16.840.1.113883.10.20.22.4.49"/>
                                    <!-- Encounter Activities -->
                                    <!--  ********  Encounter activity template   ******** -->
                                    <id root="2a620155-9d11-439e-92b3-5d9815ff4de8"/>
                                    <code <%-: bb.encounters[i] | hl7Code %> codeSystemVersion="<%= bb.encounters[i].code_system_version%>">
                                        <translation <%-: bb.encounters[i].translation | hl7Code %> />
                                    </code>
                                    <effectiveTime value="<%=: bb.encounters[i].date | hl7Date %>"/>
                                    <performer>
                                        <assignedEntity>
                                            <id nullFlavor="UNK" />
                                            <code <%-: bb.encounters[i].performer | hl7Code %> />
                                        </assignedEntity>
                                    </performer>
                                    <entryRelationship typeCode="RSON">
                                        <observation classCode="OBS" moodCode="EVN">
                                            <templateId root="2.16.840.1.113883.10.20.22.4.19"/>
                                            <id root="db734647-fc99-424c-a864-7e3cda82e703" extension="45665"/>
                                            <code code="404684003" displayName="Finding" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMED CT"/>
                                            <statusCode code="completed"/>
                                            <value xsi:type="CE" <%-: bb.encounters[i].finding | hl7Code %> />
                                        </observation>
                                    </entryRelationship>
                                </encounter>
                            </entry>

                            <% } %>
                        </section>
                    </component>

            <% } %>
            

            <% if (("immunizations" in bb && bb.immunizations.length)) { %>

                <!--
                ********************************************************

                IMMUNIZATIONS

                ********************************************************
                -->
                    <component>
                        <section>
                            <templateId root="2.16.840.1.113883.10.20.22.2.2.1"/>
                            <!--  ********  Immunizations section template   ******** -->
                            <code code="11369-6" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="History of immunizations"/>
                            <title>Immunizations</title>
                            <text>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Vaccine</th>
                                            <th>Code System</th>
                                            <th>Code</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for (var i=0; i<bb.immunizations.length; i++) { %>
                                            <tr>
                                                <td><%=: bb.immunizations[i].product.name | emptyStringIfFalsy %></td>
                                                <td><%=: bb.immunizations[i].product.code_system_name | emptyStringIfFalsy %></td>
                                                <td><%=: bb.immunizations[i].product.code | emptyStringIfFalsy %></td>
                                                <td><%=: bb.immunizations[i].date | emptyStringIfFalsy %></td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </text>

                            <% for (var i=0; i<bb.immunizations.length; i++) { %>

                            <entry typeCode="DRIV">
                                <substanceAdministration classCode="SBADM" moodCode="EVN" negationInd="false">
                                    <templateId root="2.16.840.1.113883.10.20.22.4.52"/>
                                    <!--  ********   Immunization activity template    ******** -->
                                    <id root="e6f1ba43-c0ed-4b9b-9f12-f435d8ad8f92"/>
                                    <statusCode code="completed"/>
                                    <effectiveTime xsi:type="IVL_TS" value="<%=: bb.immunizations[i].date | hl7Date %>"/>
                                    <routeCode <%-: bb.immunizations[i].route | hl7Code %> />
                                    <doseQuantity nullFlavor="UNK"/>
                                    <consumable>
                                        <manufacturedProduct classCode="MANU">
                                            <templateId root="2.16.840.1.113883.10.20.22.4.54"/>
                                            <!--  ********   Immunization Medication Information    ******** -->
                                            <manufacturedMaterial>
                                                <code <%-: bb.immunizations[i].product | hl7Code %> >
                                                    <originalText>Influenza virus vaccine</originalText>
                                                    <translation <%-: bb.immunizations[i].product.translation | hl7Code %> />
                                                </code>
                                            </manufacturedMaterial>
                                        </manufacturedProduct>
                                    </consumable>
                                    <entryRelationship typeCode="SUBJ" inversionInd="true">
                                        <act classCode="ACT" moodCode="INT">
                                            <templateId root="2.16.840.1.113883.10.20.22.4.20"/>
                                            <!-- ** Instructions Template ** -->
                                            <code <%-: bb.immunizations[i].education_type | hl7Code %> />
                                            <text><%= bb.immunizations[i].instructions%></text>
                                            <statusCode code="completed"/>
                                        </act>
                                    </entryRelationship>
                                </substanceAdministration>
                            </entry>

                            <% } %>

                        </section>
                    </component>

            <% } %>
            

            <% if (("vitals" in bb && bb.vitals.length)) { %>

                <!--
                ********************************************************

                VITAL SIGNS

                ********************************************************
                -->
                    <component>
                        <section>
                            <templateId root="2.16.840.1.113883.10.20.22.2.4.1"/>
                            <code code="8716-3" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="VITAL SIGNS"/>
                            <title>Vital Signs</title>
                            <text>
                                <table>
                                    <thead>
                                        <tr>
                                           <th>Date</th>
                                           <th>Name</th>
                                           <th>Value</th>
                                           <th>Unit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for (var i=0; i<bb.vitals.length; i++) { %>
                                            <% for (var j=0; j<bb.vitals[i].results.length;j++) {%>
                                                <tr>
                                                    <td><%=: bb.vitals[i].date | emptyStringIfFalsy %></td>
                                                    <td><%=: bb.vitals[i].results[j].name | emptyStringIfFalsy %></td>
                                                    <td><%=: bb.vitals[i].results[j].value | emptyStringIfFalsy %></td>
                                                    <td><%=: bb.vitals[i].results[j].unit | emptyStringIfFalsy %></td>
                                                </tr>
                                            <% } %>
                                        <% } %>
                                    </tbody>
                                </table>
                            </text>


                            <% for (var i=0; i<bb.vitals.length; i++) { %>


                            <entry typeCode="DRIV">
                                <organizer classCode="CLUSTER" moodCode="EVN">
                                    <templateId root="2.16.840.1.113883.10.20.22.4.26"/>
                                    <!-- Vital signs organizer template -->
                                    <id root="c6f88320-67ad-11db-bd13-0800200c9a66"/>
                                    <code code="46680005" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMED -CT" displayName="Vital signs"/>
                                    <statusCode code="completed"/>
                                    <effectiveTime value="<%=: bb.vitals[i].date | hl7Date %>"/>

                                    <% for (var j=0; j<bb.vitals[i].results.length;j++) {%>
                                    <component>
                                        <observation classCode="OBS" moodCode="EVN">
                                            <templateId root="2.16.840.1.113883.10.20.22.4.27"/>
                                            <!-- Vital Sign Observation template -->
                                            <id root="c6f88321-67ad-11db-bd13-0800200c9a66"/>
                                            <code code="<%=bb.vitals[i].results[j].code%>" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="<%=bb.vitals[i].results[j].name%>"/>
                                            <statusCode code="completed"/>
                                            <effectiveTime value="<%=: bb.vitals[i].date | hl7Date %>"/>
                                            <value xsi:type="PQ" value="<%=bb.vitals[i].results[j].value%>" unit="<%=bb.vitals[i].results[j].unit%>"/>
                                            <interpretationCode code="N" codeSystem="2.16.840.1.113883.5.83"/>
                                        </observation>
                                    </component>
                                    <% } %>
                                    
                                </organizer>
                            </entry>


                            <% } %>
                        </section>
                    </component>

            <% } %>

            <% if (("smoking_status" in bb)) { %>

                <!--
                ********************************************************

                SOCIAL HISTORY

                ********************************************************
                -->

                    <component>
                        <section>
                            <templateId root = "2.16.840.1.113883.10.20.22.2.17"/>
                            <code code = "29762-2" codeSystem = "2.16.840.1.113883.6.1" displayName = "Social History"/>
                            <title>SOCIAL HISTORY</title>
                            <text></text>
                            <entry typeCode = "DRIV">
                                <observation classCode = "OBS" moodCode = "EVN">
                                    <templateId root = "2.16.840.1.113883.10.20.22.4.78"/>
                                    <id root = "bb4029d5-cd10-437e-8985-6db6db5beb12"/>
                                    <code code = "ASSERTION" codeSystem = "2.16.840.1.113883.5.4"/>
                                    <statusCode code = "completed"/>
                                    <effectiveTime>
                                        <low nullFlavor="UNK" />
                                    </effectiveTime>
                                    <value xsi:type="CD" <%-: bb.smoking_status | hl7Code %> />
                                </observation>
                            </entry>
                        </section>
                    </component>

            <% } %>

        </structuredBody>
    </component>

<!--
**Required Sections

Allergies
Medications
Problem List
Procedures
Results

**Optional Sections

Advance Directives
Encounters
Family History
Functional Status
Immunizations
Medical Equipment
Payers
Plan of Care
Social History
Vital Signs
-->

</ClinicalDocument>